<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.jason0x43.alfred-hue</string>
		<key>category</key>
		<string>Tools</string>
		<key>connections</key>
		<dict>
			<key>369F3215-FF5F-4A03-B05C-5637B76508EC</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>9EBEE8C4-D32F-4BCC-AE02-67B09A0740E9</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>3E710711-9B31-4ADC-8309-92758510578C</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>B405E4D9-644C-40FA-8953-512E7193D99A</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>7952463A-EF42-496A-B424-09C873BCAA9E</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>E3EA2BE8-FB78-41E8-A233-9DCF19D33C75</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>8C4532B2-FD89-41A2-981B-DD90B1845D0D</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>9EBEE8C4-D32F-4BCC-AE02-67B09A0740E9</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>369F3215-FF5F-4A03-B05C-5637B76508EC</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>F605435A-388C-44E7-94C1-2441D39683D5</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>AB1DBCEE-A317-428E-BC78-6DDE93521CB9</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>B405E4D9-644C-40FA-8953-512E7193D99A</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>F605435A-388C-44E7-94C1-2441D39683D5</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>7952463A-EF42-496A-B424-09C873BCAA9E</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
			<key>F96EBF72-00CE-4218-AD51-D7A4710206D4</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false></false>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>Jason Cheatham</string>
		<key>description</key>
		<string>Control Philips Hue lights</string>
		<key>disabled</key>
		<false></false>
		<key>name</key>
		<string>Hue</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>lastpathcomponent</key>
					<false></false>
					<key>onlyshowifquerypopulated</key>
					<true></true>
					<key>removeextension</key>
					<false></false>
					<key>text</key>
					<string>{query}</string>
					<key>title</key>
					<string>Hue</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.output.notification</string>
				<key>uid</key>
				<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>triggerid</key>
					<string>start</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.external</string>
				<key>uid</key>
				<string>3E710711-9B31-4ADC-8309-92758510578C</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>4</integer>
					<key>keyword</key>
					<string>hue</string>
					<key>queuedelaycustom</key>
					<integer>1</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false></false>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Talking to hub...</string>
					<key>script</key>
					<string>./alfred-hue &#34;$1&#34; &#34;$data&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Control your Hue lights</string>
					<key>title</key>
					<string>hue</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true></true>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>B405E4D9-644C-40FA-8953-512E7193D99A</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>concurrently</key>
					<false></false>
					<key>escaping</key>
					<integer>4</integer>
					<key>script</key>
					<string>./alfred-hue -final &#34;$1&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>inputstring</key>
					<string>{query}</string>
					<key>matchcasesensitive</key>
					<false></false>
					<key>matchmode</key>
					<integer>2</integer>
					<key>matchstring</key>
					<string>^(?!-trigger\b)</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.filter</string>
				<key>uid</key>
				<string>369F3215-FF5F-4A03-B05C-5637B76508EC</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>alfred.workflow.utility.hidealfred</string>
				<key>uid</key>
				<string>9EBEE8C4-D32F-4BCC-AE02-67B09A0740E9</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>externaltriggerid</key>
					<string>start</string>
					<key>passinputasargument</key>
					<true></true>
					<key>passvariables</key>
					<true></true>
					<key>workflowbundleid</key>
					<string>self</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.output.callexternaltrigger</string>
				<key>uid</key>
				<string>E3EA2BE8-FB78-41E8-A233-9DCF19D33C75</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>4</integer>
					<key>keyword</key>
					<string>hul</string>
					<key>queuedelaycustom</key>
					<integer>1</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false></false>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Talking to hub...</string>
					<key>script</key>
					<string>./alfred-hue &#34;$1&#34; &#34;{\&#34;keyword\&#34;:\&#34;lights\&#34;}&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Control your Hue lights</string>
					<key>title</key>
					<string>hul</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true></true>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>8C4532B2-FD89-41A2-981B-DD90B1845D0D</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>inputstring</key>
					<string>{query}</string>
					<key>matchcasesensitive</key>
					<false></false>
					<key>matchmode</key>
					<integer>2</integer>
					<key>matchstring</key>
					<string>^-trigger\s</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.filter</string>
				<key>uid</key>
				<string>F605435A-388C-44E7-94C1-2441D39683D5</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>matchmode</key>
					<integer>1</integer>
					<key>matchstring</key>
					<string>^-trigger\s</string>
					<key>replacestring</key>
					<string></string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.replace</string>
				<key>uid</key>
				<string>7952463A-EF42-496A-B424-09C873BCAA9E</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>4</integer>
					<key>keyword</key>
					<string>hug</string>
					<key>queuedelaycustom</key>
					<integer>1</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false></false>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Talking to hub...</string>
					<key>script</key>
					<string>./alfred-hue &#34;$1&#34; &#34;{\&#34;keyword\&#34;:\&#34;groups\&#34;}&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Control your Hue groups</string>
					<key>title</key>
					<string>hug</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true></true>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>AB1DBCEE-A317-428E-BC78-6DDE93521CB9</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false></false>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>4</integer>
					<key>keyword</key>
					<string>hus</string>
					<key>queuedelaycustom</key>
					<integer>1</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false></false>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Talking to hub...</string>
					<key>script</key>
					<string>./alfred-hue &#34;$1&#34; &#34;{\&#34;keyword\&#34;:\&#34;scenes\&#34;}&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Control your Hue scenes</string>
					<key>title</key>
					<string>hus</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true></true>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>F96EBF72-00CE-4218-AD51-D7A4710206D4</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>readme</key>
		<string>This workflow allows basic control of Hue lights.</string>
		<key>uidata</key>
		<dict>
			<key>369F3215-FF5F-4A03-B05C-5637B76508EC</key>
			<dict>
				<key>xpos</key>
				<integer>710</integer>
				<key>ypos</key>
				<integer>70</integer>
			</dict>
			<key>3E710711-9B31-4ADC-8309-92758510578C</key>
			<dict>
				<key>xpos</key>
				<integer>40</integer>
				<key>ypos</key>
				<integer>40</integer>
			</dict>
			<key>638F070C-0B3F-4030-B93B-AD33A669DF84</key>
			<dict>
				<key>xpos</key>
				<integer>890</integer>
				<key>ypos</key>
				<integer>40</integer>
			</dict>
			<key>7952463A-EF42-496A-B424-09C873BCAA9E</key>
			<dict>
				<key>xpos</key>
				<integer>800</integer>
				<key>ypos</key>
				<integer>190</integer>
			</dict>
			<key>8C4532B2-FD89-41A2-981B-DD90B1845D0D</key>
			<dict>
				<key>xpos</key>
				<integer>230</integer>
				<key>ypos</key>
				<integer>160</integer>
			</dict>
			<key>9EBEE8C4-D32F-4BCC-AE02-67B09A0740E9</key>
			<dict>
				<key>xpos</key>
				<integer>800</integer>
				<key>ypos</key>
				<integer>70</integer>
			</dict>
			<key>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</key>
			<dict>
				<key>xpos</key>
				<integer>520</integer>
				<key>ypos</key>
				<integer>40</integer>
			</dict>
			<key>AB1DBCEE-A317-428E-BC78-6DDE93521CB9</key>
			<dict>
				<key>xpos</key>
				<integer>230</integer>
				<key>ypos</key>
				<integer>280</integer>
			</dict>
			<key>B405E4D9-644C-40FA-8953-512E7193D99A</key>
			<dict>
				<key>xpos</key>
				<integer>230</integer>
				<key>ypos</key>
				<integer>40</integer>
			</dict>
			<key>E3EA2BE8-FB78-41E8-A233-9DCF19D33C75</key>
			<dict>
				<key>xpos</key>
				<integer>890</integer>
				<key>ypos</key>
				<integer>160</integer>
			</dict>
			<key>F605435A-388C-44E7-94C1-2441D39683D5</key>
			<dict>
				<key>xpos</key>
				<integer>710</integer>
				<key>ypos</key>
				<integer>190</integer>
			</dict>
			<key>F96EBF72-00CE-4218-AD51-D7A4710206D4</key>
			<dict>
				<key>xpos</key>
				<integer>230</integer>
				<key>ypos</key>
				<integer>400</integer>
			</dict>
		</dict>
		<key>version</key>
		<string>2.0.0</string>
		<key>webaddress</key>
		<string>https://github.com/jason0x43/alfred-hue</string>
	</dict>
</plist>