<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason0x43.alfred-hue</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E289DF9-CD37-46EB-A73F-51576C074734</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>43A3E741-44F2-4275-A267-808A9DA705EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B405E4D9-644C-40FA-8953-512E7193D99A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43A3E741-44F2-4275-A267-808A9DA705EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E289DF9-CD37-46EB-A73F-51576C074734</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Control Philips Hue lights</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hue</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-hue do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>hue</string>
				<key>runningsubtext</key>
				<string>Talking to hub...</string>
				<key>script</key>
				<string>./alfred-hue tell "{query}"</string>
				<key>subtext</key>
				<string>Control your Hue lights</string>
				<key>title</key>
				<string>hue</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B405E4D9-644C-40FA-8953-512E7193D99A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-hue do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43A3E741-44F2-4275-A267-808A9DA705EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>638F070C-0B3F-4030-B93B-AD33A669DF84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-hue do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E289DF9-CD37-46EB-A73F-51576C074734</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version 1.0.1</string>
	<key>uidata</key>
	<dict>
		<key>1E289DF9-CD37-46EB-A73F-51576C074734</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>43A3E741-44F2-4275-A267-808A9DA705EE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>638F070C-0B3F-4030-B93B-AD33A669DF84</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A4595B9E-80A7-444F-9A7F-DCE60F41AE86</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B405E4D9-644C-40FA-8953-512E7193D99A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/alfred-hue</string>
</dict>
</plist>
